<ion-header>
    <ion-toolbar>
        <ion-title>Manage Player</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="players | async as players">
        <ion-list *ngIf="players.length > 0">
            <ion-item *ngFor="let player of players">
                <ion-label (click)="setActivePlayer(player)">{{ player.name }}</ion-label>
                <ion-button fill="clear" slot="end" (click)="deletePlayer(player)">
                    <ion-icon name="close"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-list>
    </ng-container>

    <ion-button (click)="checkDndMasterService()" expand="block" fill="clear">Create Player</ion-button>
    <ion-button (click)="resetPlayers()" expand="block" fill="clear">Clear Players</ion-button>

</ion-content>
