<app-menu-close>Create Player</app-menu-close>

<ion-content>
    <form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="createNewPlayer()">
        <ion-item>
            <ion-label>Player Name</ion-label>
            <ion-input formControlName="name"></ion-input>
        </ion-item>
        <app-set-ability-scores (formChange)="updateFormValues('abilityScores', $event)"></app-set-ability-scores>

        <ion-button type="submit">Submit</ion-button>
    </form>
</ion-content>
