<ion-card>
    <ion-item [lines]="lines" *ngIf="!fullClick; else fullClickItem">
        <ng-container *ngTemplateOutlet="titleTemplate"></ng-container>
        <ion-icon *ngIf="contentTemplate"
                  slot="end"
                  [name]="dropIcon"
                  (click)="collapsed = !collapsed">
        </ion-icon>
    </ion-item>

    <ng-container *ngIf="collapsed && contentTemplate">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </ng-container>
</ion-card>

<ng-template #fullClickItem>
    <ion-item [lines]="lines" (click)="collapsed = !collapsed">
        <ng-container *ngTemplateOutlet="titleTemplate"></ng-container>
        <ion-icon *ngIf="contentTemplate"
                  slot="end"
                  [name]="dropIcon">
        </ion-icon>
    </ion-item>
</ng-template>
