<app-menu-close>Search DND Master</app-menu-close>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let service of services | async" (click)="setService(service)">
            <ion-label>{{ service.name }}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
