<ng-container *ngIf="activePlayer | async as activePlayer">
    <ion-header>
        <ion-toolbar>
            <ion-title>Player - {{ activePlayer.name }}</ion-title>
            <ion-buttons slot="end">
                <ion-button routerLink="/manage-player" (click)="saveActivePlayer()">
                    <ion-icon name="log-out"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>

    </ion-content>
</ng-container>
