<app-item-toggle *ngFor="let ability of abilityScores; let i = index">
    <ng-template appTitle>
        <ion-checkbox slot="start" [formControl]="getFormGroupAt(i).controls.proficient"></ion-checkbox>
        <ion-label>{{ ability.name }}</ion-label>
        <ion-input type="number" [formControl]="getFormGroupAt(i).controls.value"></ion-input>
    </ng-template>
    <ng-container *ngIf="ability.skills.length > 0">
        <ng-template appContent>
            <ion-item *ngFor="let skill of ability.skills; let j = index" lines="none">
                <ion-checkbox slot="start" [formControl]="getSkillControl(i).at(j).get('proficient')"></ion-checkbox>
                <ion-label>{{ skill }}</ion-label>
            </ion-item>
        </ng-template>
    </ng-container>
</app-item-toggle>
